.chat {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 10px;
  align-items: stretch;
  background-color: #FFF;
}

.chat-input {
  padding: 10px;
  display: flex;
}

.chat-input label {
  flex: 1;
}

.chat-input button {
  margin: 10px;
}

.chat-messages {
  padding: 10px;
  flex: 1;
}

.chat-messages li {
  list-style: none;
}

.message-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.message-avatar .message-avatar-icon {
  font-size: 24px;
  color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.chat-messages li {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;;
}

.message-content {
  flex-grow: 1;
}
